body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 10px;
}

h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 10px;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#form > input {
  width: 360px !important;
}

#form > button {
  width: 112px;
  height: 56px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#form > .MuiOutlinedInput-root {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px;
}